<nav class="navbar navbar-full navbar-dark bg-primary nav-no-padding">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
        aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="#">
            <img src="/assets/smoothoperator.svg">
        </a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/">Yksityishenkilö</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" routerLink="/dev">Palveluntarjoaja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/data">Tietolähde</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="open(content)">Kirjaudu</a>
            </li>
        </ul>
    </div>
</nav>

<div style="background-image: url(/assets/header-palveluntarjoajille.png); background-size: cover; background-position: center; height: 550px">
    <div class="hidden-sm-down m-x-auto header-text-md">Luo uusia palveluja luotettavan ja yksilöllisen tiedon avulla</div>
    <div class="hidden-md-up m-x-auto header-text-sm">Luo uusia palveluja luotettavan ja yksilöllisen tiedon avulla</div>

    <div class="row">
        <div class="col-md-12 text-xs-center">
            <button class="btn btn-primary btn-lg m-x-auto" (click)="open(content)">Kirjaudu sisään</button>
        </div>
    </div>
</div>


    <h1 class="p-t-3 p-b-3 text-xs-center blue-text">Miksi Smooth Operator?</h1>

    <div class="row p-a-3">
        <div class="col-md-3">
            <div class="points text-xs-center">1</div>
            <div class="m-x-auto lead text-xs-center points-text">Rakennat käyttäjille räätälöityjä palveluja tuhansien API:en avulla</div>
        </div>
        <div class="col-md-3">
            <div class="points text-xs-center">2</div>
            <div class="m-x-auto lead text-xs-center points-text">Päätät itse millä hinnalla ostat tiedot käyttöösi</div>
        </div>
        <div class="col-md-3">
            <div class="points text-xs-center">3</div>
            <div class="m-x-auto lead text-xs-center points-text">Voit luottaa että yksityisyyden suojan velvoitteet täyttyvät</div>
        </div>
        <div class="col-md-3">
            <div class="points text-xs-center">4</div>
            <div class="m-x-auto lead text-xs-center points-text">Sinulla on mahdollisuus koostaa palveluita useasta lähteestä</div>
        </div>
    </div>

    <div class="rectangle-2-copy-7">
        <h1 class="p-t-3 text-xs-center white-text">Toimi näin</h1>

        <div class="row  p-a-3">
            <div class="col-md-3">
                <div class="text-xs-center why-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                <div class="text-xs-center why-text">Rekisteröidy palveluun</div>
            </div>
            <div class="col-md-3">
                <div class="text-xs-center why-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
                <div class="text-xs-center why-text">Määrittele suostumuksesi</div>
            </div>
            <div class="col-md-3">
                <div class="text-xs-center why-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
                <div class="text-xs-center why-text">Tee tarjous tai käytä ilmaisia apeja</div>
            </div>
            <div class="col-md-3">
                <div class="text-xs-center why-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                <div class="text-xs-center why-text">Ota APIt käyttöösi palvelussa</div>
            </div>
        </div>
    </div>

    <h1 class="p-t-3 p-b-3 text-xs-center blue-text">Tarjolla olevia tietolähteitä</h1>

    <div class="row p-a-3">
        <div class="offset-md-1 col-md-2">
            <div class="text-xs-center"><img src="/assets/suunto.png"></div>
            <div class="m-x-auto lead text-xs-center points-text">Suunto</div>
        </div>
        <div class="col-md-2">
            <div class="text-xs-center"><img src="/assets/trafi.png"></div>
            <div class="m-x-auto lead text-xs-center points-text">Trafi</div>
        </div>
        <div class="col-md-2">
            <div class="text-xs-center"><img src="/assets/v-r-k.png"></div>
            <div class="m-x-auto lead text-xs-center points-text">VRK</div>
        </div>
        <div class="col-md-2">
            <div class="text-xs-center"><img src="/assets/nordea.png"></div>
            <div class="m-x-auto lead text-xs-center points-text">Nordea</div>
        </div>
        <div class="col-md-2">
            <div class="text-xs-center"><img src="/assets/v-r.png"></div>
            <div class="m-x-auto lead text-xs-center points-text">VR</div>
        </div>
    </div>


    <div class="rectangle-2-copy-7">
        <h1 class="p-a-3 text-xs-center white-text">Testaa Apeja testiympäristössämme </h1>

        <div class="row p-b-3">
            <div class="offset-md-3 col-md-3 text-xs-center">
                <i class="fa fa-cogs" aria-hidden="true" style="font-size: 225px;"></i>
            </div>
            <div class="col-md-3 lead why-text">
                Testiympäristössämme on käytössä kaikki tietolähteet ja laaja esimerkkidata. Saat nopeasti apua myös helpdesk-palvelustamme ja on aktiivisesta kehittäjäyhteisöstä.
            </div>
        </div>
    </div>



    <h1 class="p-a-3 text-xs-center blue-text">Smooth Operator numeroina</h1>

    <div class="row p-a-3">
        <div class="col-md-4">
            <div class="display-4 text-xs-center blue-text">7 210 318</div>
            <div class="m-x-auto lead text-xs-center points-text">Rekisteröityneitä käyttäjiä</div>
        </div>
        <div class="col-md-4">
            <div class="display-4 text-xs-center blue-text">251 492</div>
            <div class="m-x-auto lead text-xs-center points-text">APIa</div>
        </div>
        <div class="col-md-4">
            <div class="display-4 text-xs-center blue-text">1 020 531</div>
            <div class="m-x-auto lead text-xs-center points-text">Sovellusta</div>
        </div>
    </div>



    <div class="rectangle-footer m-b-3">
        <div class="row p-a-3">
            <div class="col-md-3">
                <div class="">Yksityishenkilöille</div>
                <ul>
                    <li>In convallis</li>
                    <li>Scelerisque ligula</li>
                    <li>Scelerisque</li>
                    <li>Condimentum</li>
                    <li>Tellus ultricies</li>
                    <li>Fusce</li>
                    <li>Commodo mauris</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="">Yksityishenkilöille</div>
                <ul>
                    <li>Nunc sagittis</li>
                    <li>Leo ultrices</li>
                    <li>Vehicula sollicitudin</li>
                    <li>Morbi</li>
                    <li>Lectus</li>
                    <li>Tempus odio</li>
                    <li>Laculis libero</li>
                    <li>Accumsan metus</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="">Yksityishenkilöille</div>
                <ul>
                    <li>In convallis</li>
                    <li>Scelerisque ligula</li>
                    <li>Scelerisque</li>
                    <li>Condimentum</li>
                    <li>Tellus ultricies</li>
                    <li>Fusce</li>
                    <li>Commodo mauris</li>
                    <li>Scelerisque</li>
                    <li>Condimentum</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="">Yksityishenkilöille</div>
                <ul>
                    <li>Condimentum</li>
                    <li>Tellus ultricies</li>
                    <li>Fusce</li>
                    <li>Commodo mauris</li>
                </ul>
            </div>
        </div>

    </div>






<template ngbModalContainer #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
        <h4 class="modal-title">Kirjaudu</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Sähköposti</label>
                <input disabled type="text" class="form-control" id="formGroupExampleInput" value="eppu.esimerkki@eemail.fi">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Salasana</label>
                <input disabled type="password" class="form-control" id="formGroupExampleInput2" value="tosipitkäsalasana">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" routerLink="/developer">Kirjaudu</button>
    </div>
</template>
