<div class="container">

    <nav class="navbar navbar-light">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
            aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
            <a class="navbar-brand" href="#">Smooth Operator</a>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <a class="nav-link" (click)="open(content)">Kirjaudu</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Moro!</h1>
            <p class="lead">Tähän voi laittaa markkinointi textii</p>
            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Kirjaudu</button>
        </div>
    </div>

    blaa blaa... jaadi jaa...

</div>

<template ngbModalContainer #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
        <h4 class="modal-title">Kirjaudu</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Sähköposti</label>
                <input disabled type="text" class="form-control" id="formGroupExampleInput" value="eppu.esimerkki@eemail.fi">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Salasana</label>
                <input disabled type="password" class="form-control" id="formGroupExampleInput2" value="tosipitkäsalasana">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" routerLink="/kuluttaja">login käyttäjä</button>
        <button type="button" class="btn btn-primary" routerLink="/developer">login kehittäjä</button>
        <button type="button" class="btn btn-primary" routerLink="/admin">login admin</button>
    </div>
</template>


<hr>
