<nav class="navbar navbar-full navbar-dark bg-primary nav-no-padding">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
        aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="#">
            <img src="/assets/smoothoperator.svg">
        </a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link active" href="#">Yksityishenkilö</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" outerLinkActive="active" routerLink="/dev">Palveluntarjoaja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" outerLinkActive="active" routerLink="/data">Tietolähde</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="open(content)">Kirjaudu</a>
            </li>
        </ul>
    </div>
</nav>

<div style="background-image: url(/assets/header-yksityishenkilille.png); background-size: cover; background-position: center; height: 550px">
    <div class="hidden-sm-down m-x-auto header-text-lg">Sinulla on kaikki oikeudet päättää datastasi.</div>
    <div class="hidden-md-up m-x-auto header-text-sm">Sinulla on kaikki oikeudet päättää datastasi.</div>

    <div class="row">
        <div class="col-md-12 text-xs-center">
            <button class="btn btn-primary btn-lg m-x-auto" (click)="open(content)">Kirjaudu sisään</button>
        </div>
    </div>
</div>


    <h1 class="p-t-3 p-b-3 text-xs-center blue-text">Miksi Smooth Operator?</h1>

    <div class="row p-a-3">
        <div class="col-md-3">
            <div class="points text-xs-center">1</div>
            <div class="m-x-auto lead text-xs-center points-text">Päätät mitä tietojasi jaat ja mihin tarkoitukseen.</div>
        </div>
        <div class="col-md-3">
            <div class="points text-xs-center">2</div>
            <div class="m-x-auto lead text-xs-center points-text">Pääset käyttämään täysin uudenlaisia, sinulle personoituja palveluita.</div>
        </div>
        <div class="col-md-3">
            <div class="points text-xs-center">3</div>
            <div class="m-x-auto lead text-xs-center points-text">Voit tallentaa tietosi keskitettyyn ja riippumattomaan palveluun.</div>
        </div>
        <div class="col-md-3">
            <div class="points text-xs-center">4</div>
            <div class="m-x-auto lead text-xs-center points-text">Mahdollisuus ansaita tietojesi myynnillä.</div>
        </div>
    </div>

    <div class="rectangle-2-copy-7">
        <h1 class="p-t-3 text-xs-center white-text">Toimi näin</h1>

        <div class="row p-a-3">
            <div class="col-md-4">
                <div class="text-xs-center why-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                <div class="text-xs-center why-text">Rekisteröidy palveluun</div>
            </div>
            <div class="col-md-4">
                <div class="text-xs-center why-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
                <div class="text-xs-center why-text">Määrittele suostumuksesi</div>
            </div>
            <div class="col-md-4">
                <div class="text-xs-center why-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                <div class="text-xs-center why-text">Nauti paveluista</div>
            </div>
        </div>
    </div>

    <h1 class="p-t-3 p-b-3 text-xs-center blue-text">Selaa palveluita</h1>

    <div class="row p-a-3">
        <div class="offset-md-1 col-md-2">
            <div class="text-xs-center"><img src="/assets/liikennejalanjlki.png"></div>
            <div class="m-x-auto lead text-xs-center points-text">Transposmart</div>
        </div>
        <div class="col-md-2">
            <div class="text-xs-center"><img src="/assets/terveysdata.png"></div>
            <div class="m-x-auto lead text-xs-center points-text">Terveysdata</div>
        </div>
        <div class="col-md-2">
            <div class="text-xs-center"><img src="/assets/yle-areena.png"></div>
            <div class="m-x-auto lead text-xs-center points-text">Yle Areena ++</div>
        </div>
        <div class="col-md-2">
            <div class="text-xs-center"><img src="/assets/terveysdata.png"></div>
            <div class="m-x-auto lead text-xs-center points-text">Autoparkki</div>
        </div>
        <div class="col-md-2">
            <div class="points text-xs-center"><i class="fa fa-square-o" aria-hidden="true"></i></div>
            <div class="m-x-auto lead text-xs-center points-text">Ravintoseuranta</div>
        </div>
    </div>


    <div class="rectangle-2-copy-7">
        <h1 class="p-a-3 text-xs-center white-text">Hinnoittelu</h1>

        <div class="row  p-b-3">
            <div class="offset-md-1 col-md-10">

                <table class="table feature-table">
                    <thead class="thead">
                        <tr>
                            <th></th>
                            <th>Free</th>
                            <th>Standard</th>
                            <th>Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Suostumusten hallinta</th>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Tiedot toimijoiden luotettavuudesta</th>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Täydellinen suostumusloki</th>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Anonymisointipalvelut</th>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Ajantasainen data palveluiden tarjoajille</th>
                            <td></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Rajaton päätelaitetuki</th>
                            <td></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                        </tr>             
                        <tr>
                            <th scope="row">Personal data storage</th>
                            <td></td>
                            <td></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Täydellinen raportointi ja tietojen visualisointi</th>
                            <td></td>
                            <td></td>
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <h1 class="p-a-3 text-xs-center blue-text">Smoot Operator numeroina</h1>

    <div class="row p-a-3">
        <div class="col-md-4">
            <div class="display-4 text-xs-center blue-text">7 210 318</div>
            <div class="m-x-auto lead text-xs-center points-text">Rekisteröityneitä käyttäjiä</div>
        </div>
        <div class="col-md-4">
            <div class="display-4 text-xs-center blue-text">251 492</div>
            <div class="m-x-auto lead text-xs-center points-text">APIa</div>
        </div>
        <div class="col-md-4">
            <div class="display-4 text-xs-center blue-text">1 020 531</div>
            <div class="m-x-auto lead text-xs-center points-text">Sovellusta</div>
        </div>
    </div>



    <div class="rectangle-footer m-b-3">
        <div class="row p-a-3">
            <div class="col-md-3">
                <div class="">Yksityishenkilöille</div>
                <ul>
                    <li>In convallis</li>
                    <li>Scelerisque ligula</li>
                    <li>Scelerisque</li>
                    <li>Condimentum</li>
                    <li>Tellus ultricies</li>
                    <li>Fusce</li>
                    <li>Commodo mauris</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="">Yksityishenkilöille</div>
                <ul>
                    <li>Nunc sagittis</li>
                    <li>Leo ultrices</li>
                    <li>Vehicula sollicitudin</li>
                    <li>Morbi</li>
                    <li>Lectus</li>
                    <li>Tempus odio</li>
                    <li>Laculis libero</li>
                    <li>Accumsan metus</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="">Yksityishenkilöille</div>
                <ul>
                    <li>In convallis</li>
                    <li>Scelerisque ligula</li>
                    <li>Scelerisque</li>
                    <li>Condimentum</li>
                    <li>Tellus ultricies</li>
                    <li>Fusce</li>
                    <li>Commodo mauris</li>
                    <li>Scelerisque</li>
                    <li>Condimentum</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="">Yksityishenkilöille</div>
                <ul>
                    <li>Condimentum</li>
                    <li>Tellus ultricies</li>
                    <li>Fusce</li>
                    <li>Commodo mauris</li>
                </ul>
            </div>
        </div>

    </div>






<template ngbModalContainer #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
        <h4 class="modal-title">Kirjaudu</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Sähköposti</label>
                <input disabled type="text" class="form-control" id="formGroupExampleInput" value="eppu.esimerkki@eemail.fi">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Salasana</label>
                <input disabled type="password" class="form-control" id="formGroupExampleInput2" value="tosipitkäsalasana">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" routerLink="/kuluttaja">Kirjaudu</button>
    </div>
</template>
