<user-navbar></user-navbar>

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="media">
                <div class="media-left">
                    <img class="transpo_logo" src="/assets/transpo-logo.png" alt="Transpo Logo">
                </div>

                <p class="p-t-1">
                    The world’s leading traffic planning organization, TranspoSmart works in 100 countries.
                    TranspoSmart's unique way of working combines global reach with
                    a foundation in science, involves action at every level from local to global, and ensures the
                    delivery
                    of innovative solutions that meet the needs of both people and goods.
                </p>
                <p><b>
                    TranspoSmart
                </b>
                </p>
                <p>
                    Eteläesplanadi 16 00130, Helsinki
                </p>
                <p>
                    <a href="http://www.transposmart.com">transposmart.com</a>
                </p>
            </div>

        </div>

        <div class="col-md-7 offset-md-1 ">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="/assets/Iconset_sp_research.png" alt="research Logo" width="50">
                </div>
                <div class="media-body">
                    <h4 class="Kulutustietojen-ky">Kulutustietojen käyttäminen liikenteestä johtuvan jalanjälkesi
                        laskemiseksi</h4>
                </div>
            </div>

            <div class="media">
                <div class="media-body Transposmart-pyyt">
                    Transposmart pyytää lupaa käyttää tietojasi kertaluontoisesti liikenteestä johtuvan liikenteellisen
                    jalanjälkesi laskemiseen. Transposmart ei säilytä tietojasi, käytä niitä muihin tarkoituksiin tai
                    jaa niitä eteenpäin.
                </div>
            </div>

            <h4 class="Jaatiedotseuraavis">Jaa tiedot seuraavista lähteistä:</h4>

            <span class="Kategoria">Henkilötiedot</span>

            <div *ngFor="let source of getSourcesByCategory('Henkilotiedot')">
                <div class="row">
                    <div class="col-xs-1"><img src="{{  source.icon  }}" width="25" height="25"></div>
                    <div class="col-xs-9">{{ source.dataSourceName }}</div>
                    <div class="col-xs-2"><input type="checkbox" [(ngModel)]="source.shareState" class="Rectangle-2">
                    </div>
                </div>
            </div>

            <span class="Kategoria">Paikkatiedot</span>
            <div *ngFor="let source of getSourcesByCategory('Paikkatiedot')">
                <div class="row">
                    <div class="col-xs-1"><img src="{{  source.icon  }}" width="25" height="25"></div>
                    <div class="col-xs-9">{{ source.dataSourceName }}</div>
                    <div class="col-xs-2"><input type="checkbox" [(ngModel)]="source.shareState" class="Rectangle-2">
                    </div>
                </div>
            </div>

            <span class="Kategoria">Kulutustiedot</span>
            <div *ngFor="let source of getSourcesByCategory('Kulutustiedot')">
                <div class="row">
                    <div class="col-xs-1"><img src="{{  source.icon  }}" width="25" height="25"></div>
                    <div class="col-xs-9">{{ source.dataSourceName }}</div>
                    <div class="col-xs-2"><input type="checkbox" [(ngModel)]="source.shareState" class="Rectangle-2">
                    </div>
                </div>
            </div>

            <span class="Kategoria">Ostotiedot</span>
            <div *ngFor="let source of getSourcesByCategory('Ostotiedot')">
                <div class="row">
                    <div class="col-xs-1"><img src="{{  source.icon  }}" width="25" height="25"></div>
                    <div class="col-xs-9">{{ source.dataSourceName }}</div>
                    <div class="col-xs-2"><input type="checkbox" [(ngModel)]="source.shareState" class="Rectangle-2">
                    </div>
                </div>
            </div>

            <div class="p-t-1 p-b-3">
                <button type="button" class="btn btn-primary" (click)="submitConsent()">Anna suostumus</button>
                <button type="button" class="btn btn-link">→ Näytä tarkemmat tiedot</button>
            </div>
        </div>

    </div>
</div>
