<user-navbar></user-navbar>

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="/assets/WWF_logo.jpg" alt="H&M Logo" width="70">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">World Wildlife Fund</h4>
                </div>

                 <p class="p-t-1">
                    The world’s leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the
                    United States and close to 5 million globally. WWF's unique way of working combines global reach with
                    a foundation in science, involves action at every level from local to global, and ensures the delivery
                    of innovative solutions that meet the needs of both people and nature.
                </p>
                <p>
                    World Wildlife Fund 1250 24th Street, N.W. Washington, DC 20037
                </p>
                <p>
                    <a href="http://worldwilflife.org">worldwilflife.org</a>
                </p>
            </div>

        </div>

        <div class="col-md-7 offset-md-1 ">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="/assets/Iconset_sp_research.png" alt="H&M Logo" width="50">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Kulutustietojen käyttäminen ekologisen jalanjäljen laskemiseksi</h4>
                </div>

            </div>

            <p class="lead p-t-1">
                World Wildlife Fund pyytää lupaa käyttää tietojasi kertaluontoisesti ekologisen jalanjälkesi laskemiseen. World Wildlife
                Fund ei säilytä tietojasi, käytä niitä muihin tarkoituksiin tai jaa niitä eteenpäin.
            </p>

            <h4>Jaa tiedot seuraavista lähteistä:</h4>
            <span class="small">Henkilötiedot</span>

            <div class="row">
                <div class="col-xs-1"><img src="/assets/vrk_logo.png" width="25" height="25"></div>
                <div class="col-xs-9">Väestörekisterikeskus</div>
                <div class="col-xs-2"><input type="checkbox"></div>
            </div>

            <span class="small">Kulutustiedot</span>

            <div class="row">
                <div class="col-xs-1"><img src="/assets/helen_logo.png" width="25" height="25"></div>
                <div class="col-xs-9">Helsingin energia</div>
                <div class="col-xs-2"><input type="checkbox"></div>
            </div>

            <span class="small">Ostotiedot</span>

            <div class="row">
                <div class="col-xs-1"><img src="/assets/kesko_logo.png" width="25" height="25"></div>
                <div class="col-xs-9">Kesko</div>
                <div class="col-xs-2"><input type="checkbox"></div>
            </div>

            <div class="row">
                <div class="col-xs-1"><img src="/assets/st1_logo.png" width="25" height="25"></div>
                <div class="col-xs-9">St1</div>
                <div class="col-xs-2"><input type="checkbox"></div>
            </div>

            <div class="p-t-1">
                <button type="button" class="btn btn-primary">Anna lupa</button>
                <button type="button" class="btn btn-link">→ Näytä tarkemmat tiedot</button>
            </div>
        </div>

    </div>
</div>
