<user-navbar></user-navbar>

<div class="container user-avoimet">
    <div class="row">

        <h5>Avoimet lupapyynnöt</h5>

        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="/assets/H&M_logo.svg" alt="H&M Logo" width="50" height="33">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">H&M</h4>
                            </div>
                        </div>
                        <p></p>
                        <p class="card-text">H&M pyytää lupaa käyttää yhteystietojasi markkinointieviestien ja tapahtumakutsujen lähettämiseen.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Myönnä luvat</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="/assets/Google_logo.svg" alt="Generic placeholder image" width="50" height="33">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Google</h4>
                            </div>
                        </div>
                        <p></p>
                        <p class="card-text">Google pyytää lupaa käyttää henkilötietojasi Google+ palvelussa hakeakseen sähköpostikontakteistasi
                            sinulle kavereita.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Myönnä luvat</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="/assets/Itis_logo.jpg" alt="Generic placeholder image" width="50" height="33">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">itis</h4>
                            </div>
                        </div>
                        <p></p>
                        <p class="card-text">Itis pyytää lupaa käyttää yhteystietojasi lähettääkseen sinulle lounastarjouksia mikäli olet 500
                            m päässä Itiksestä lounasaikaan.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Myönnä luvat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="border-top: 1px dashed rgba(0,0,0,.1);">

    <h5>Myönnetyt luvat</h5>

    <table class="table table-hover">
        <tbody>
            <tr>
                <td scope="row">25.9.2016</td>
                <td><img src="/assets/WWF_logo.svg" width="30" height="30"></td>
                <td>Kulutustietojen käyttäminen ekologisen jalanjäljen laskemiseksi.</td>
                <td><a routerLink="/palvelukuvaus/wwf">→ Katso tiedot</a></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">22.9.2016</td>
                <td><img src="/assets/OP_logo.jpg" width="30" height="30"></td>
                <td>Henkilötietojen käyttäminen asuntolainatarjouksen laskemiseen.</td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">18.9.2016</td>
                <td><img src="/assets/WWF_logo.svg" width="30" height="30"></td>
                <td>Kulutustietojen käyttäminen ekologisen jalanjäljen laskemiseksi.</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
