<user-navbar></user-navbar>

<div class="container user-consents">
    <div class="row">
        <div class="col-md-12">

            <h5>Aktiiviset suostumukset</h5>

            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left" href="#">
                            <img class="media-object" src="/assets/itis-icon.png" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Itis</h4>
                            1 suostumus
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left" href="#">
                            <img class="media-object" src="/assets/varusteleka-icon.png" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Varusteleka</h4>
                            3 suostumusta
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left" href="#">
                            <img class="media-object" src="/assets/w-w-f-icon.png" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">World Wildlife Foundation</h4>
                            12 suostumusta
                        </div>
                    </div>
                </div>
            </div>


            <h5 class="m-t-3">Erääntyneet suostumukset</h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left" href="#">
                            <img class="media-object" src="/assets/whatsapp-icon.png" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Whatsapp</h4>
                            1 suostumus
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left" href="#">
                            <img class="media-object" src="/assets/2000-px-scandinavian-airlines-logosvg.png" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Scandinavian Airlines</h4>
                            3 suostumusta
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left" href="#">
                            <img class="media-object" src="/assets/st-1-logo-web-2.png" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">ST 1</h4>
                            12 suostumusta
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
