<nav class="navbar navbar-full navbar-dark bg-primary">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/kuluttaja">Smooth Operator</a>
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/kuluttaja/luvat">Luvat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/kuluttaja/tietolähteet">Tietolähteet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/">Kirjaudu ulos</a>
        </li>
    </ul>
</nav>
