
body {
    font-family: niveau-grotesk, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.navbar, .user-navbar {
    margin-bottom: 2em;
}

.nav-no-padding {
    margin-bottom: 0;
}

.user-avoimet .card-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.card-deck .card {
    padding-bottom:50px;
}

.header-text-lg {
    width: 70%;
    padding-top: 200px;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 10px rgba(40, 49, 109, 0.35);
}

.header-text-md {
    width: 80%;
    padding-top: 230px;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 10px rgba(40, 49, 109, 0.35);
}

.header-text-sm {
    width: 80%;
    padding-top: 230px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 10px rgba(40, 49, 109, 0.35);
}

.points {
    font-size: 110px;
    font-weight: bold;
    color: #2c3eb7;
    border: 1px solid #edeff9;
    border-radius: 100px;
    width: 160px;
    height: 160px;
    margin: auto;
    background-color: #edeff9;
}

.points-text {
    font-size: 20px;
    font-weight: 300;
    color: #2c3eb7;
}

.rectangle-2-copy-7 {
    background-color: #2c3eb7;
    color: white;
}

.rectangle-footer {
    background-color: #232b65;
    color: rgba(255, 255, 255, 0.6);
}


.why-icon {
    font-size: 120px;
    line-height: 0.5;
    text-align: center;
    color: #ffffff;
}

.why-text {
    font-size: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.8);
}

.blue-text {
    color: #2c3eb7;
}

.white-text {
    color: white;
}

.feature-table {
    color: white;
}

.feature-table tbody {
    color: #2c3eb7;
    background-color: white;
}

.feature-table td, .feature-table th {
    border-top: 0;
}

.app-category-icons > img{
    width: 45px;
}

.faded {
    filter: opacity(0.3) grayscale(80%);
}
