<datasource-navbar></datasource-navbar>

<div class="container user-consents">
    <div class="row">
        <div class="col-md-12">

            <h5>APIt</h5>

            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left">
                            <i class="fa fa-database" aria-hidden="true" style="font-size: 38px;"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Liikkumistiedot</h4>
                            45378 hakua/päivä
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left">
                            <i class="fa fa-database" aria-hidden="true" style="font-size: 38px;"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Aikataulutedot</h4>
                            77834 hakua/päivä
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left">
                            <i class="fa fa-database" aria-hidden="true" style="font-size: 38px;"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Reittipas</h4>
                            2363 hakua/päivä
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

