<dev-navbar></dev-navbar>

<div class="container user-consents">
    <div class="row">
        <div class="col-md-12">

            <h5>Rekisteröidyt appsit</h5>

            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left" href="#" routerLink="/developer/transposmart">
                            <i class="fa fa-cogs" aria-hidden="true" style="font-size: 38px;"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Transposmart</h4>
                            45378 maksavaa käyttäjää
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left">
                            <i class="fa fa-cogs" aria-hidden="true" style="font-size: 38px;"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Toinen appi</h4>
                            77834 maksavaa käyttäjää
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <a class="media-left">
                            <i class="fa fa-cogs" aria-hidden="true" style="font-size: 38px;"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Kolmas appi</h4>
                            2363 maksavaa käyttäjää
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
