<nav class="navbar">
    <ul class="nav navbar-nav">
        <a class="navbar-brand" href="#">
            <img src="/assets/smoothoperator.svg">
        </a>

        <li class="nav-item active">
            <a class="nav-link" href="#" routerLinkActive="active" routerLink="myapps">Minun appsit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive="active" routerLink="register">Rekisteröi appi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive="active" routerLink="test">Testipenkki</a>
        </li>
    </ul>
</nav>
