<nav class="navbar navbar-full"  style="background-color:#ccc;">
    <a class="navbar-brand" href="#" routerLink="/developer">
        <img src="/assets/smoothoperator.svg">
    </a>

    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/developer/appsit">Minun appsit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/developer/testipenkki">Testipenkki</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/">Kirjaudu ulos</a>
        </li>
    </ul>
</nav>

