<dev-navbar></dev-navbar>

<div class="container devshop-consents">
    <div class="row">
        <div class="col-md-12">

            <h5>Tarjolla olevat apit</h5>

            <div class="row">
                <div class="col-md-4">
                    <div class="media Rectangle-2-Copy-26">
                        <div class="">
                            <div class="bordershop">
                                <a class="media-left" style="margin-top: 20px" href="#">
                                    <img class="media-object" src="/assets/shopsuunto.png"
                                         alt="Generic placeholder image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Suunto</h4>
                                    <p>Käyttäjien syke-, kalorikulutus- ja harjoitusvaikutustiedot</p>
                                </div>
                                <div class="media" style="margin-top:30px">
                                    <div class="media-left -Nyt-listietoja">
                                        <div class="text-style-1">→ Näytä lisätietoja</div>
                                    </div>
                                    <div class="media-body Rectangle-6-Copy-4">
                                        <div class="Liskoriin">Lisää koriin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media Rectangle-2-Copy-26">
                        <div class="">
                            <div class="bordershop">
                                <a class="media-left" style="margin-top: 20px" href="#">
                                    <img class="media-object" src="/assets/shoptrafi.png"
                                         alt="Generic placeholder image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Trafi</h4>
                                    <p>Suomalaisten ajoneuvotiedot mukaanlukien rekisteri- ja verotiedot</p>
                                </div>
                                <div class="media" style="margin-top:20px">
                                    <div class="media-left -Nyt-listietoja">
                                        <div class="text-style-1">→ Näytä lisätietoja</div>
                                    </div>
                                    <div class="media-body Rectangle-6-Copy-4">
                                        <div class="Liskoriin">Lisää koriin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media Rectangle-2-Copy-26">
                        <div class="">
                            <div class="bordershop">
                                <a class="media-left" style="margin-top: 20px" href="#">
                                    <img class="media-object" src="/assets/shopnordea.png"
                                         alt="Generic placeholder image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Nordea</h4>
                                    <p>Nordean asiakkaiden pankki- ja luottotiedot</p>
                                </div>
                                <div class="media" style="margin-top:30px">
                                    <div class="media-left -Nyt-listietoja">
                                        <div class="text-style-1">→ Näytä lisätietoja</div>
                                    </div>
                                    <div class="media-body Rectangle-6-Copy-4">
                                        <div class="Liskoriin">Lisää koriin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <h5>&nbsp;</h5>

            <div class="row">
                <div class="col-md-4">
                    <div class="media Rectangle-2-Copy-26">
                        <div class="">
                            <div class="bordershop">
                                <a class="media-left" style="margin-top: 20px" href="#">
                                    <img class="media-object" src="/assets/shopv-r.png"
                                         alt="Generic placeholder image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">VR</h4>
                                    <p>Yksityishenkilöiden ja yritysten raideliikennetietoja</p>
                                </div>
                                <div class="media" style="margin-top:30px">
                                    <div class="media-left -Nyt-listietoja">
                                        <div class="text-style-1">→ Näytä lisätietoja</div>
                                    </div>
                                    <div class="media-body Rectangle-6-Copy-4">
                                        <div class="Liskoriin">Lisää koriin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media Rectangle-2-Copy-26">
                        <div style="width: 100%">
                            <div class="bordershop">
                                <a class="media-left" style="margin-top: 20px" href="#">
                                    <img class="media-object" src="/assets/shopv-r-k.png"
                                         alt="Generic placeholder image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">VRK</h4>
                                    <p>Suomalaisten henkilötiedot ja sukulaissuhteet</p>
                                </div>
                                <div class="media" style="margin-top:30px">
                                    <div class="media-left -Nyt-listietoja">
                                        <div class="text-style-1">→ Näytä lisätietoja</div>
                                    </div>
                                    <div class="media-body Rectangle-6-Copy-4">
                                        <div class="Liskoriin">Lisää koriin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media Rectangle-2-Copy-26">
                        <div style="width: 100%">
                            <div class="bordershop">
                                <a class="media-left" style="margin-top: 20px" href="#">
                                    <img class="media-object" src="/assets/shopkela.png"
                                         alt="Generic placeholder image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">KELA</h4>
                                    <p>Suomalaisten eläke- ja etuustiedot</p>
                                </div>
                                <div class="media" style="margin-top:30px">
                                    <div class="media-left -Nyt-listietoja">
                                        <div class="text-style-1">→ Näytä lisätietoja</div>
                                    </div>
                                    <div class="media-body Rectangle-6-Copy-4">
                                        <div class="Liskoriin">Lisää koriin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
